[user]
	name = meredrica
	email = stuff@meredrica.org
[rerere]
	enabled = true
[push]
	default = upstream
	autoSetupRemote = true
[credential]
	helper = store
[core]
	autocrlf = input
	editor = /usr/bin/nvim
[fetch]
	prune = true
[help]
	autocorrect = 15
[pull]
	ff = only
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
[init]
	defaultBranch = main
